:root {
  --logo-collor: #ffffff;
  --header-bg: #2e8f87;

  --button-bg: #2e2e2e;
  --button-text: #ffffff;

  --button-hover-text: #ffffff;
  --button-hover: #050505;

  --footer-text-light: #ffffff;
  --footer-text-dark: #000000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 100%;
  margin: auto;
  height: 70px;
  background-color: var(--header-bg);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.55);
}

/* logo */
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--logo-collor);
}

/* search */
.search-input {
  position: relative;
}

.search-input input {
  padding: 0.4rem;
  width: 350px;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.search-icon {
  position: absolute;
  top: 25%;
  right: 15px;
  color: rgb(94, 92, 92);
  cursor: pointer;
}

/* buttons */
.sort-btn,
.insert-btn {
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-text);
  font-size: 1rem;
  border-radius: 5px;
}

.insert-btn:hover {
  background-color: var(--button-hover);
  color: var(--button-hover-text);
}
.sort-btn:hover {
  background-color: var(--button-hover);
  color: var(--button-hover-text);
}

.product-title {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
}

.burger-btn {
  font-size: 2rem;
  color: var(--button-text);
  display: none;
}

/* product menu */
.products-menu {
  width: 100%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.55);
}

.products-menu ul {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 2rem;
}

.products-menu h3 {
  cursor: pointer;
  transition: transform 0.2s ease;
}
.products-menu h3:hover {
  transform: translateY(-4px);
}
.products-menu h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 3px;
  background-color: var(--header-bg);
  transition: 0.3s ;
}
.products-menu h3:hover::after {
  width: 100%;
}

/* cards */
.cards-wrapper {
  max-width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  gap: 1rem;
  margin-bottom: 3rem;
}

.card {
  border: 1px solid black;
  width: 32%;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 80%;
  height: 80%;
  text-align: center;
  object-fit: contain;
  padding-top: 0.5rem;
}
.card h2 {
  text-align: center;
}

.card p {
  color: rgb(0, 131, 0);
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

/* FOOTER */
.footer-wrapper {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  width: 100%;
  height: 100px;
  background-color: var(--header-bg);
}

a {
  text-decoration: none;
  color: var(--footer-text-dark);
}

li {
  list-style: none;
}

.contacts,
.social-media,
.location {
  color: var(--footer-text-light);
}
.contacts h3 {
  padding-bottom: 0.5rem;
}

@media (max-width: 1350px) {
  .card {
    width: 350px;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .button-container {
    display: none;
  }

  .burger-btn {
    display: block;
  }

  .search-input input {
    width: 150px;
  }
  .search-input button {
    width: 80px;
  }
  .header {
    gap: 1rem;
  }

  .products-menu {
    display: none;
  }
}
